.address__wrapper {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 28px;
}

@media (max-width: $tablet-width) {
  .address__wrapper {
    margin-bottom: 10px;
  }
}

@media (max-width: $mobile-width) {
  .address__wrapper {
    margin-bottom: 31px;
    margin-bottom: 21px;
  }
}

.address h2 {
  @include fonts(30px, 30px);
  max-width: 500px;
  margin: 0 auto 30px auto;
  padding: 0;
  color: $almost-black;
  font-family: "OpenSans-SemiBold", "Arial", sans-serif;
}

@media (max-width: $tablet-width) {
  .address h2 {
    @include fonts(24px, 30px);
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile-width) {
  .address h2 {
    font-size: 18px;
  }
}

.address p {
  @include fonts(17px, 31px);
  color: rgba($black, 0.7);
  padding: 0;
  margin: 0 auto 42px auto;
  margin-bottom: 42px;
  max-width: 551px;
}

@media (max-width: $tablet-width) {
  .address p {
    padding: 0 5%;
    margin-bottom: 20px;
    max-width: 707px;
  }
}

@media (max-width: $mobile-width) {
  .address p {
    padding: 0 8%;
    margin-bottom: 20px;
  }
}

.address img {
  width: 957px;
  object-fit: cover;
  max-height: 530px;
}

@media (max-width: $tablet-width) {
  .address img {
    width: 698px;
    max-height: 545px;
  }
}

@media (max-width: $mobile-width) {
  .address img {
    width: 100%;
    height: auto;
  }
}
