.facts {
  margin: 0 auto;
  text-align: center;
  padding: 0 20px 152px 20px;
}

@media (max-width: $tablet-width) {
  .facts {
    padding-bottom: 25px;
  }
}

@media (max-width: $mobile-width) {
  .facts {
    padding: 0 14px 85px 14px;
  }
}

.facts h2 {
  @include fonts(30px, 30px);
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
  color: $almost-black;
  font-family: "opensans-semibold", "Arial", sans-serif;
  margin-bottom: 50px;
}

@media (max-width: $tablet-width) {
  .facts h2 {
    @include fonts(24px, 41px);
    margin-bottom: 30px;
  }
}

@media (max-width: $mobile-width) {
  .facts h2 {
    max-width: 100%;
    margin-bottom: 28px;
  }
}

.facts ul {
  @include list-reset();
  margin: 0 auto;
  max-width: 1187px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: $tablet-width) {
  .facts ul {
    flex-wrap: wrap;
    padding: 0;
    width: 556px;
  }
}

@media (max-width: $mobile-width) {
  .facts ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.facts li {
  max-width: 263px;
  margin-right: 37px;

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: $tablet-width) {
  .facts li {
    width: 50%;
    margin-right: 0;
    margin-bottom: 43px;
  }
}

@media (max-width: $mobile-width) {
  .facts li {
    width: 100%;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.facts p {
  @include offset(0, 0);
  @include fonts(22px, 34px);
}

@media (max-width: $mobile-width) {
  .facts p {
    font-size: 18px;
    letter-spacing: -0.5px;
  }
}

.facts span {
  @include fonts(28px, 38px);
  display: block;
  font-family: "opensans-bold", "Arial", sans-serif;
  color: $cyan;
  padding-bottom: 17px;
}
