.header {
  color: $white;
  min-height: 825px;
  background: url("../img/img Bike.jpg") no-repeat  center;
  background-size: auto 100%;
  background-color: $dark;
  margin-bottom: 150px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/img Bike@2x.jpg");
  }
}

@media (max-width: $tablet-width) {
  .header {
    background-size: 100% auto;
    background-position: center -42px;
    min-height: 340px;
    position: relative;
    margin-bottom: 70px;
  }
}

@media (max-width: $mobile-width) {
  .header {
    background-size: auto 390px;
    background-position: top;
    min-height: 390px;
  }
}

.header__wrapper {
  max-width: 897px;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .header__wrapper {
    max-width: 1023px;
  }
}

.header__toggle {
  display: none;
}

@media (max-width: $tablet-width) {
  .header__toggle {
    width: 50px;
    height: 50px;
    background: url("../img/Shape.svg") no-repeat center;
    background-size: 30px 30px;
    background-color: $cyan;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    z-index: 4;
    display: block;
    cursor: pointer;
  }
}

@media (max-width: $mobile-width) {
  .header__toggle {
    width: 50px;
  }
}

.header__toggle-closed {
  &::before {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .header__toggle-closed {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: $white;
    background-image: url("../img/Vector.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
