.promo {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $tablet-width) {
  .promo {
    flex-direction: column;
    align-items: center;
  }
}

.promo__content {
  max-width: 393px;
  padding-left: 8px;
}

@media (max-width: $tablet-width) {
  .promo__content {
    min-width: 100%;
  }
}


.promo__logo {
  display: block;
  margin-bottom: 28px;
}

@media (max-width: $tablet-width) {
  .promo__logo {
    margin: 25px 25px 84px 14px;
  }
}

@media (max-width: $mobile-width) {
  .promo__logo {
    margin: 25px 9px 72px 9px;
  }
}

.promo p {
  @include offset(0, 0);
  @include fonts(20px, 32px);
  font-family: "opensans-light", "Arial", sans-serif;
  opacity: 0.8;
  text-align: left;
  padding-bottom: 20px;
}

@media (max-width: $tablet-width) {
  .promo p {
    text-align: center;
    font-size: 18px;
    padding-bottom: 80px;
    max-width: 55%;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width) {
  .promo p {
    max-width: 295px;
    padding-bottom: 70px;
    letter-spacing: 0.3px;
  }
}

.promo h2 {
  @include fonts(46px, 64px);
  text-align: left;
  font-family: "opensans-bold", "Arial", sans-serif;
  opacity: 1;
  padding-bottom: 20px;
  max-width: 435px;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .promo h2 {
    @include fonts(30px, 42px);
    max-width: 60%;
    letter-spacing: -0.005em;
    text-align: center;
  }
}

@media (max-width: $mobile-width) {
  .promo h2 {
    text-align: center;
    max-width: 90%;
  }
}

.promo__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 335px;
  padding-right: 8px;
}

@media (max-width: $tablet-width) {
  .promo__form {
    padding-top: 66px;
    width: 100%;
    background-color: $white;
  }
}

.promo__form p {
  @include offset(0, 0);
  @include fonts(17px, 28px);
  padding-top: 4px;
  font-family: "opensans-semiBold", "Arial", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  opacity: 1;
}

@media (max-width: $tablet-width) {
  .promo__form p {
    font-size: 18px;
    color: $black;
    margin-bottom: 30px;
    max-width: 325px;
    letter-spacing: -0.005em;
  }
}

@media (max-width: $mobile-width) {
  .promo__form p {
    max-width: 95%;
    letter-spacing: 0;
    padding: 5px 0 0 5px;
    margin-bottom: 21px;
  }
}

.promo input {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid $grey;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    border: 1px solid $cyan;
  }

  &:active {
    color: $dark-gery;
  }
}

@media (max-width: $tablet-width) {
  .promo input {
    max-width: 321px;
  }
}

@media (max-width: $mobile-width) {
  .promo input {
    max-width: 288px;
    margin-bottom: 22px;

    &:last-of-type {
      margin-bottom: 18px;
    }
  }
}

.promo input[placeholder] {
  padding-top: 14px;
  padding-bottom: 6px;
  padding-left: 29px;
  box-sizing: border-box;
  color: $dark-gery;

  @include fonts(15px, 24px);
}

@media (max-width: $mobile-width) {
  .promo input[placeholder] {
    padding-top: 12px;
    padding-bottom: 8px;
  }
}

.promo__button {
  background-color: $cyan;
  color: $black;
  font-family: "opensans-semiBold", "Arial", sans-serif;
  width: 100%;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  padding-top: 14px;
  padding-bottom: 10px;
  cursor: pointer;

  @include fonts(15px, 21px);

  &:hover {
    opacity: 0.7;
    color: $wet-asphalt;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .promo__button {
    max-width: 321px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: $mobile-width) {
  .promo__button {
    max-width: 288px;
    padding-top: 10px;
  }
}
