*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  @include offset(0, 0);

  min-width: 320px;
  color: $dark;
  font-family: "OpenSans-Regular", "Arial", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .page {
    max-width: 1023px;
  }
}

@media (max-width: $mobile-width) {
  .page {
    max-width: 767px;
  }
}
